  @keyframes animatio{
             0%{
                color :black;
                }30%{
                    color: rgb(253, 21, 0);
                }
                50%{
                    color :"red";
                }
            100%{
                color: rgb(9, 144, 255);
                
            }    
        }
        @keyframes button{
            1%{
                transform: scale(1.1);
                }
            20%{
                transform: scale(1.3);
            }
            50%{
                transform: scale(1.4);
            } 
            100%{
                transform: scale(1.1);
            } 

        }
        .my_class{
            animation:button;
            animation-duration:3s ;
            animation-iteration-count: infinite;
        }
        #hhh {
            color:red;
            background-color: gold;
            height: 23px;
        }
        #rrr {
            position: absolute;
            top: 129px;
            color: black;
            background-color: orange;
            font-family: fantasy;
            animation-name:animatio;
            animation-duration: 6s;
            animation-iteration-count: infinite;
        }
        #my_js {
            color: black;
            background-color: green;
            height: 23px;
        }
        #jjj {
            position: static;
            top:111px;
            left: 199px;
            height: 33px;
            background-color:white;
            color:black;
            font-family: impact;}
            
        p {
            color: blue;
            font-family: impact;
        }
        input {
            height: 33px;
        }.nnn{
            height: 370px;;
            
            position: static;
            background-color: #232F3E;
            top: px;
            left: 111px;
            }
            
            a{
                color:rgb(248, 248, 248);
            }
            #mutipliticao{
            position: absolute;
            top: 189px;
            color: black;
            background-color: rgb(0, 0, 0);
            font-family: fantasy;
            animation-name:animatio;
            animation-duration: 6s;
            animation-iteration-count: infinite;
               
            
            }
            #divi{
            height:8%;
            position: absolute;
            top: 270px;
            color: black;
            background-color: orange;
            font-family: fantasy;
            animation-name:animatio;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            }

    h1{
       position: absolute;
       left:7%;
    }
    #porc{
       top:60%;
    }
    body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; }
